@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 16% 15%;
    --foreground: 44 0% 90%;
    --card: 44 0% 0%;
    --card-foreground: 44 0% 90%;
    --popover: 44 10% 5%;
    --popover-foreground: 44 0% 90%;
    --primary: 44 96.6% 53.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 347 62% 46%;
    --secondary-foreground: 0 0% 100%;
    --muted: 6 10% 15%;
    --muted-foreground: 44 0% 60%;
    --accent: 231 27% 42%;
    --accent-foreground: 44 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 44 0% 90%;
    --border: 44 20% 18%;
    --input: 44 20% 18%;
    --ring: 44 96.6% 53.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 30px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
